.resume_wrapper .detail_content .info_item {
    padding-bottom: 48px;
}
.resume_wrapper .detail_content .info_item .title {
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.resume_wrapper .detail_content .info_item .list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
}
.resume_wrapper .detail_content .info_item .list .item.item_half {
    width: 50%;
    box-sizing: border-box;
    padding-right: 24px;
}
.resume_wrapper .detail_content .info_item .list .item {
    margin-bottom: 32px;
    text-align: justify;
}
.resume_wrapper .detail_content .info_item .list .label {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 22px;
}
.resume_wrapper .detail_content .info_item .list .text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
}
@media (max-width: 750px) {
    .resume_wrapper .detail_content {
        @apply px-8 py-6;
    }
    .resume_wrapper .detail_content .info_item {
        @apply pb-6;
    }
}

.resume_wrapper .fixed_box.isFixed {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    // padding: 0 5.5%;
}
.resume_wrapper .fixed_box {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    // box-sizing: border-box;
    height: 90px;
}
.resume_wrapper .fixed_box .center_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.06);
}
.center_box {
    width: 100%;
    // max-width: 1280px;
    margin: 0 auto;
}
.resume_wrapper .fixed_box .center_box .resume_btn.primary {
    background: #0052D9;
    color: #ffffff;
}
.resume_wrapper .fixed_box .center_box .resume_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #0052D9;
    color: #0052D9;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s all;
}

.uapply-box {
    @apply m-4 px-12;
    position: relative;
}
.detail_content {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 78px 64px 0 88px;
    border-radius: 24px;
    background: #ffffff;
}

.resume_btn:hover {
    opacity: 0.8;
}

.disabled {
    color: #999999!important;
    border: 1px solid #cccccc!important;
    cursor:  not-allowed!important;
}
.disabled:hover {
    opacity: 1!important;
}